#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

:root {
  /*--bs-green: #047857;*/
  /*--bs-success: #047857;*/
  --bs-green: #0d92a3;
  --bs-success: var(--bs-green);
}

.fs-0 {
  font-size: 14px;
}

body {
  font-family: "Manrope", sans-serif;
}

.max-width-450{
  max-width: 450px;
  width: 100%;
}
.margin-auto{
  margin: 0 auto;
}
.form-base-input {
  border-color: var(--bs-gray-400) !important;
  padding: 10px 8px 10px 14px !important;
  color: #64748b !important;
  font-size: 14px !important;
  line-height: 19px !important;
  height: 48px;
}

.input-checkbox {
  border: 1px solid var(--bs-gray-400) !important;
  width: 16px;
  height: 16px;
}

.input-checkbox:checked {
  background: var(--bs-green);
}

label {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: #191d23;
  margin-bottom: 4px !important;
}

.input-group-text {
  background: none;
}

.tip-radio-label {
  /*width: 77.25px;*/
  height: 43px;
  border: 1px solid var(--bs-gray-300);
  border-radius: 4px;
  font-weight: 300;
  padding: 12px;
  line-height: 20px;
  color: #191d23;
}

.total-result {
  background: #f7f8f9;
  padding: 12px;
}

.border-dotted {
  border-top-style: dotted !important;
  border-width: 2px !important;
  border-color: var(--bs-border-color);
}

.placeholder-fst-italic::placeholder {
  font-style: italic;
  color: #64748b !important;
  font-size: 12px;
}

.form-custom-input {
  width: 77.25px;
  height: 43px;
  border: 1px solid var(--bs-gray-400);
  border-radius: 4px;
  font-weight: 300;
  padding: 12px;
  line-height: 20px;
  color: #191d23;
}
.input-group-text {
  border: 1px solid var(--bs-gray-300) !important;
}

select {
  border: 1px solid #d0d5dd !important;
  border-radius: 4px !important;
  color: #64748b !important;
  font-size: 14px !important;
  line-height: 19px !important;
  height: 48px;
}

.fs-7{
  font-size: 13px;
}
