#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}
body {
  font-family: "Manrope", sans-serif;
}
.form-base-input{
  border: 1px solid #d0d5dd !important;
  border-radius: 4px !important;
  padding: 10px 8px 10px 14px !important;
  color: #64748b !important;
  font-size: 14px !important;
  line-height: 19px !important;
  height: 48px;
}
.input-checkbox{
  border: 1px solid #d0d5dd !important;
  border-radius: 4px !important;
  width: 16px;
  height: 16px;
}
.input-checkbox:checked{
  background: #047857;
}

label {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: #191d23;
  margin-bottom: 4px !important;
}
.input-group-text {
  background: none;
}

.tip-control-label {
  width: 77.25px;
  height: 43px;
  border: 1px solid #e7eaee;
  border-radius: 4px;
  font-weight: 300;
  padding: 12px;
  line-height: 20px;
  color: #191d23;
}

.total-result {
  background: #f7f8f9;
  padding: 12px;
}

.border-dotted {
  border-top-style: dotted !important;
  border-width: 2px !important;
  border-color: var(--bs-border-color);
}

.fs-0 {
  font-size: 14px;
}
